.edit {
  padding-bottom: 174px;
}

.edit__avatar {
  margin-bottom: 113px;
  display: flex;
  align-items: center;
}


.edit__avatar-img {
  margin-right: 106px;
  width: 100%;
  max-width: 437px;
  border-radius: 50%;
}

.edit__avatar-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
  font-size: 38px;
}

.edit__label-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2px;
  cursor: pointer;
}

.edit__input-file {
  display: none;
}

.edit__avatar-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2px;
}

.edit__name {
  display: flex;
  justify-content: space-between;
  column-gap: 36px;
  max-width: 1420px;
  width: 100%;
  margin-bottom: 44px;
}

.edit__label {
  max-width: 686px;
}

.edit__label-wish {
  max-width: 694px;
}


.edit__label-text {
  display: block;
  margin-bottom: 14px;
  font-size: 50px;
}

.edit__input {
  display: block;
  width: 100%;
  height: 100px;
  padding: 0 32px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 15px;
  color: #282828;
  font-size: 48px;
}

.edit__birthday {
  margin-bottom: 44px;
  display: flex;
  column-gap: 12px;
}

.edit__label--select {
  position: relative;
  font-size: 48px;
}

.edit__label--select::after {
  position: absolute;
  content: '';
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  background-image: url('../img/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
}

.edit__label--select:focus-within::after {
  transform: translateY(-50%) rotate(180deg);
}

.edit__select {
  padding: 22px 50px 22px 32px;
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 15px;
  border: none;
  color: #282828;
  cursor: pointer;
  outline: none;
}

.edit__description {
  margin-bottom: 68px;
}

.edit__description-textarea {
  max-width: 1420px;
  width: 100%;
  min-height: 250px;
  padding: 35px 32px;
  border-radius: 15px;
  font-size: 38px;
  resize: none;
}

.edit__submit-btn {
  margin-right: 22px;
}

.edit__submit-btn:last-child {
  margin-right: 0;
}

.edit__wish {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 36px;
  margin-bottom: 44px;
}

.edit__wish-price {
  display: flex;
  column-gap: 36px;
  align-items: flex-end;
}

.edit__label--price {
  flex: 0 1 50%;
}

.edit__select--currency {
  width: 100%;
  height: 100px;
}

.edit__wish-photo {
  position: relative;
  margin-bottom: 152px;
  width: 285px;
}

.edit__wish-img {
  background-color: #FFFFFF;
  border-radius: 15px;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

.edit__wish-delete {
  position: absolute;
  top: 8px;
  right: 8px;
}

@media (max-width: 1200px) {
  .edit__avatar {
    margin-bottom: 56px;
  }

  .edit__avatar-img {
    margin-right: 34px;
    max-width: 466px;
  }

  .edit__name {
    flex-direction: column;
    row-gap: 40px;
    max-width: 686px;
    margin-bottom: 30px;
  }

  .edit__birthday {
    margin-bottom: 40px;
  }

  .edit__description {
    margin-bottom: 40px;
  }
  
  .edit__description-textarea {
    max-width: 980px;
    min-height: 311px;
  }
  
  .edit__submit-btn {
    margin-right: 18px;
  }

  .edit__wish {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    margin-bottom: 44px;
  }

  .edit__wish-photo {
    margin-bottom: 114px;
  }
}

@media (max-width: 992px) {
  .edit {
    padding-bottom: 80px;
  }

  .edit__container {
    max-width: 768px;
    margin: 0 auto;
  }

  .edit__avatar {
    margin-bottom: 68px;
  }

  .edit__avatar-img {
    margin-right: 25px;
    max-width: 340px;
  }

  .edit__avatar-control {
    font-size: 24px;
    row-gap: 24px;
  }

  .edit__label-avatar {
    column-gap: 5px;
  }

  .edit__icon-avatar {
    width: 30px;
  }

  .edit__name {
    row-gap: 44px;
    max-width: 700px;
    margin-bottom: 44px;
  }

  .edit__label {
    max-width: 700px;
  }

  .edit__label-wish {
    max-width: 700px;
  }

  .edit__input {
    padding: 22px 32px;
  }

  .edit__birthday {
    margin-bottom: 44px;
  }

  .edit__description {
    margin-bottom: 62px;
  }

  .edit__description-textarea {
    max-width: 700px;
    min-height: 430px;
  }

  .edit__wish {
    row-gap: 44px;
    margin-bottom: 80px;
  }

  .edit__wish-price {
    column-gap: 40px;
  }

  .edit__wish-photo {
    margin-bottom: 62px;
  }

  .edit__submit-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 44px;
  }

  .edit__submit-btn {
    max-width: 310px;
    width: 100%;
  }

  .edit__submit-btn:last-child {
    display: block;
    margin: 0 auto;
  }

  .edit__delete-btn {
    max-width: 310px;
    width: 100%;
  }
}

@media (max-width: 650px) {
.edit {
  padding-top: 16px;
  padding-bottom: 46px;
}

.edit__container {
  max-width: 320px;
}

.edit__avatar {
  margin-bottom: 32px;
  flex-direction: column;
  row-gap: 16px;
}

.edit__avatar-img {
  margin: 0;
  max-width: 160px;
}

.edit__avatar-control {
  align-items: center;
  row-gap: 16px;
  font-size: 14px;
}

.edit__label-avatar {
  column-gap: 6px;
}

.edit__avatar-delete {
  column-gap: 6px;
}

.edit__icon-avatar {
  flex-basis: 16px;
}

.edit__name {
  row-gap: 24px;
  max-width: 288px;
  margin-bottom: 24px;
}

.edit__label {
  max-width: 288px;
}

.edit__label-wish {
  max-width: 288px;
}

.edit__label-text {
  margin-bottom: 12px;
  font-size: 24px;
}

.edit__input {
  height: 47px;
  padding: 12 18px;
  font-size: 20px;
}

.edit__birthday {
  margin-bottom: 24px;
  column-gap: 6px;
}

.edit__label--select {
  font-size: 20px;
}

.edit__label--select::after {
  width: 18px;
  height: 18px;
}

.edit__select {
  padding: 12px 18px;
  border-radius: 8px;
}

.edit__description {
  margin-bottom: 32px;
}

.edit__description-textarea {
  max-width: 288px;
  min-height: 250px;
  padding: 32px 16px 26px;
  border-radius: 15px;
  font-size: 38px;
  resize: none;
}

.edit__submit-btn {
  margin-right: 0;
}

.edit__wish {
  row-gap: 24px;
  margin-bottom: 46px;
}

.edit__wish-price {
  column-gap: 14px;
}

.edit__label--price {
  flex: 0 1 50%;
}

.edit__select--currency {
  width: 100%;
  height: 47px;
  border-radius: 15px;
}

.edit__wish-photo {
  margin-bottom: 32px;
  width: 288px;
}

.edit__wish-img {
  width: 100%;
}

.edit__wish-delete {
  top: 10px;
  right: 10px;
}

.edit__submit-wrapper {
  row-gap: 24px;
}

.edit__submit-btn {
  max-width: 288px;
}

.edit__submit-btn:last-child {
  display: inline;
  margin: 0;
}

.edit__delete-btn {
  max-width: 288px;
}
}
