.hero {
  padding: 20px 0;
  /*padding: 113px 0;*/
  flex-grow: 1;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.hero__title {
  margin-bottom: 24px;
  font-family: Aclonica;
  font-size: 312px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero__slogan {
  margin-bottom: 135px;
  max-width: 940px;
  font-size: 46px;
  line-height: normal;
  text-align: center;
}

@media (max-width: 1700px) {
  .hero__title {
    margin-bottom: 12px;
    font-size: 200px;
  }
  
  .hero__slogan {
    margin-bottom: 50px;
    max-width: 860px;
    font-size: 42px;
  }
}

@media (max-width: 1200px) {
  .hero {
    padding: 32px 0;
  }
  
  .hero__title {
    margin-bottom: 0;
    font-size: 150px;
  }
  
  .hero__slogan {
    margin-bottom: 32px;
    max-width: 770px;
    font-size: 36px;
  }
}

@media (max-width: 992px) {
  .hero__title {
    font-size: 118px;
  }
  
  .hero__slogan {
    margin-bottom: 100px;
    max-width: 590px;
    font-size: 26px;
  }
}

@media (max-width: 650px) {
  .hero {
    padding: 60px 0;
  }

  .hero__title {
    max-width: 280px;
    margin-bottom: 8px;
    font-size: 96px;
    word-wrap: break-word;
    text-align: center;
  }
  
  .hero__slogan {
    margin-bottom: 54px;
    font-size: 18px;
  }
}
